<!DOCTYPE html>
<html ng-app="SimpleApp">
<head>
    <title></title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body ng-controller="SimpleController">
    <h1>{{greeting}}</h1>






    <ul>
        <li ng-repeat="item in items">{{item}}</li>
    </ul>






    <form role="form">
        <div class="form-group">
            <label for="name">Name</label>
            <input id="name" ng-model="person.name"></intput>
        </div>
        <div class="form-group">
            <label for="age">Age</label>
            <input id="age" ng-model="person.age"></intput>
        </div>
        <button class="btn btn-primary" ng-click="update()">Show Updates</button>
    </form>

<script src="../bower_components/angular/angular.min.js"></script>
<script src="app.js"></script>
</body>
</html>